<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Superhero Theme</title>
</head>

<body class="bg-dark text-light m-5">
    <!-- <h1>Book Theme</h1> -->

    {% block content %}
    <h2>No Main Block Defined</h2>
    {% endblock content %}
</body>

</html>