<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero News</title>
    <link rel="stylesheet" href="/static/super.css">
</head>


<body>
    <header>
        <div class="row">
            <div class="col-6">
                <h1>Superhero News</h1>
            </div>
            <div class="col-3">
                <img src="/static/images/marvel.jpg" alt="marvel">
            </div>
        </div>
    </header>

    <div class='center'>
        <p><a href="/hero/">List of Heroes</a>
        <p>
        <p><a href="/admin/">Admin Views for Superhero</a></p>
        <!-- Project 4 -->
        <p><a href="hero/spiderman">spiderman Profile</a></p>
        <p></p><a href="hero/aquaman">Aqua-Man Profile</a></p>
        <p></p><a href="hero/batman">Batman Profile</a></p>
        <p></p><a href="hero/deadpool">Deadpool Profile</a></p>
        <p></p><a href="hero/captain">Captain America Profile</a></p>
    </div>



</body>

</html>