<div class="container text-center mt-3">
    <div class="card border border-4" style="width: 82rem;">
        <img class=" image-fluid card-img-top " src="/static/images/marvel.jpg" alt="marvel">
        <div class="card-body">
            <div class='text-dark'>
                <h2>Welcome to the Superhero Home Page</h2>
                <p>Here you can discover news and article about the Superhero.</p>
            </div>
            <a href="/hero/" class="btn btn-primary">The Hero List</a>
        </div>
    </div>
</div>