{% extends 'superhero_theme.html' %}

{% block content %}

<main>
    <div class="text-center m-3">
        <a href="/hero/"> <img class="border border-primary border-5" src="/static/images/marvel.jpg" alt="marvel"> </a>
    </div>
    <!-- <div>
        <a class='btn btn-success mt-4 ml-4' href="/hero/">List of Heroes</a>
         <a class="btn btn-primary" href="#" role="button">Link</a> -->
    <!-- <a class='btn btn-success mt-4 ml-4' href="/admin/">Admin Views for Superhero</a>
    <a href="/hero/add" class="btn btn-success mt-4 ml-4">Add New Superhero</a>
    </div> -->
    <!-- <div class="border border-danger m-4">
        <h3 class='m-4'>Account Management</h3>
        <div class='m-4'>
            <a class='btn btn-primary mr-3' href="/accounts/login/">Login</a>
            <a class='btn btn-primary mr-3' href="/accounts/signup/">Sign Up</a>
        </div>
    </div>  -->
    <!-- <a class='btn btn-primary mt-4 ml-4' href="/accounts/">User Management Applications</a> -->
    <!-- <ul>
        <p><u><b>List of my Superhero</b></u></p>
        {% for hero in object_list %}
        <li>
            <p>
                <a href="/hero/{{ hero.pk }}">{{ hero.name }}</a>
            </p>
        </li>
        {% endfor %}
    </ul> -->
</main>

{% endblock content %}